<!-- views/footer.ejs -->

<footer class="footer" style="background-color: #343a40; color: #ffffff; text-align: center; padding: 20px; font-family: 'Roboto', sans-serif;">
    <div class="container d-flex justify-content-between align-items-center">
        <span>&copy; Daniel Mayorga 2023</span>
        <div>
            <a href="https://www.linkedin.com/in/daniel-mayorga-perez-8257a415b/" target="_blank">
                <img src="/img/linkedin.png" alt="LinkedIn" width="30" height="30" class="d-inline-block align-top" style="position: relative; margin-right: 10px;" />
            </a>
            <a href="https://github.com/daniel97nic" target="_blank">
                <img src="/img/github.png" alt="Github" width="30" height="30" class="d-inline-block align-top" style="position: relative;" />
            </a>
        </div>
    </div>
</footer>
