<!-- header.ejs -->

<div class="container mt-5">
    <div class="jumbotron" style="background-color: #343a40; text-align: center; padding: 50px;">
        <h1 class="display-4" style="color: #ffffff;">Welcome to Daniel's Portfolio</h1>
        <p class="lead" style="color: #acb4bc;">I'm a passionate software engineering student originally from Nicaragua. I love crafting digital solutions and turning ideas into code. Explore my projects, learn more about me, and get in touch!</p>
        <img src="/img/photo1.jpg" alt="Daniel Mayorga" width="300" height="350" class="rounded-circle" style="position: relative; margin-top: 20px; margin-bottom: 20px;" />
        <!-- Move the button below the image -->
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/about" role="button" style="background-color: #007bff; color: #ffffff;">Learn more</a>
        </div>
    </div>
</div>
