<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <!-- Include Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Link to Your Custom CSS (modify the path accordingly) -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">

</head>
<body>

<%- include('partials/navbar') %>

<div class="container mt-5">
    <!-- Add your headshot here in the middle -->
    <div style="text-align: center;">
        <img src="/img/photo2.jpg" alt="Daniel's Headshot" style="width: 200px; height: 200px; border-radius: 50%;">
    </div>
    
    <h2 style="font-family: 'Roboto', sans-serif;">About Me</h2>
    <p style="text-align: justify; font-family: 'Roboto', sans-serif;">
        Hi there! My name is Daniel Mayorga Perez, and I'm a 26-year-old foreign student studying software engineering in the fascinating country of Canada. My adventure in the field of technology has carried me across borders and nations to explore new vistas. I am originally from the dynamic and culturally rich Nicaragua.<br><br>
        I've been interested by the magic of computers and the countless opportunities they present ever since I was a young child. I chose software engineering as my field of study and profession as a result of this enthusiasm. In the current digital era, I think software engineering is more than just writing code; it's about creating novel solutions that have real global influence.<br><br>
        Beyond the area of algorithms and computing, I have a strong passion for the great outdoors. I take comfort in the beauty of nature, whether I'm hiking across Canada's breathtaking landscapes or daydreaming about Nicaragua's stunning beaches. I also like immersing myself in diverse cultural experiences, such as trying out new foods and going to concerts.<br><br>
        I'm committed to lifelong development as I pursue my career as a software engineer. I think technology has the potential to resolve challenging issues, and I want to play a role in that. I wish to make a contribution to the ever-evolving profession of software engineering through hard effort, creativity, and devotion.<br><br>
    </p>
</div>

<%- include('partials/footer') %>

<!-- Include Bootstrap JS and jQuery (at the end of the body for better performance) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
